MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin-secret-change-me
MINIO_REGION=us-east-1

DOMAIN=sesc-it-team.ru
S3_DOMAIN=s3.sesc-it-team.ru
DOMAIN_ESCAPED=sesc-it-team\\.ru

MINIO_BROWSER_REDIRECT_URL=https://sesc-it-team.ru/minio
MINIO_SERVER_URL=https://s3.sesc-it-team.ru