[defaults]
inventory = inventories/local.yml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = yaml
roles_path = {{ playbook_dir }}/../roles:{{ playbook_dir }}/roles:~/.ansible/roles

[ssh_connection]
pipelining = True